MONGO_URI=mongodb://nodejs_helloworld:nodejs_helloworld_pass_12345@localhost:27017/?authSource=admin
TELEGRAM_BOT_TOKEN=1234567890:ABCdefGhIJKlmnoPQRstuVWXyZ0123456789
TELEGRAM_DEBUG_CHAT_ID=1234567890
OPENAI_API_KEY=sk-proj-tttttttt
